<div class="result">


<h1><i class="fa fa-twitter-square" aria-hidden="true"></i>&nbsp;{{title}}</h1>
<h2><i class="fa fa-podcast" aria-hidden="true"></i>&nbsp;{{labelhead}}</h2>

    <div class="list-tweets">

        {{#each feed}}
             <p>{{@key}}. {{this}}</p>
        {{/each}}

    </div>


</div>