<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href={{mainstyle}} />
    <link rel='stylesheet' href={{resultstyle}} />
    
   <link href="https://fonts.googleapis.com/css?family=Audiowide|Permanent+Marker" rel="stylesheet">
    <script src="https://use.fontawesome.com/6a7a81254e.js"></script>
  </head>
  <body>

 <div class="container">
   
    {{{body}}}

</div>

  </body>
</html>
